<!-- <div fxLayout="row" fxLayoutAlign="space-between center" fxLayout.sm="row" fxLayout.xs="row"> -->
<div div fxLayout="row" fxLayoutAlign="space-evenly center"  fxLayout.sm="row" fxLayout.xs="row" fxLayoutGap="45px">

    <div class="bookandCount">
        <span class="books">Books</span>
        <span class="count">(28 items)</span>

    </div>

    <div class="sortbyrelevance"  >
        <mat-form-field appearance="outline">
            <mat-label>Sort by relevance</mat-label>
            <mat-select class="matselect">
                <mat-option (click)="lowtohigh()" value="one">Price:Low to High</mat-option>
                <mat-option (click)=" hightolow()" value="two">Price:High to Low</mat-option>
                <mat-option (click)="newestarrivals()" value="third">Newest Arrivals</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</div>

<div fxLayoutAlign="center center" fxLayout="row wrap" fxLayoutGap="15px">
    <div class="entirebook"
        *ngFor="let book of BookList | searchbook:searchword | paginate: { itemsPerPage: 8, currentPage: page, totalItems:totalLength } "
        fxLayout.sm="column">

        <div class="bookimg" (click)="quickview(book)">
            <img class="img1" src="../../../assets/Image 11@2x.png" alt="">
        </div>

        <div class="bookname">
            {{book.bookName}}
        </div>
        <div class="author">
            by {{book.author}}
        </div>
        <div class="rating" fxLayoutAlign="space-evenly center">
            4.5<img class="Star" src="../../../assets/star_outline_white_24dp.svg" alt="">
        </div>

        <div class="quantity">
            ({{book.quantity}})
        </div>

        <div class="price" fxLayout="row">
            <div class="discountprice">
                Rs.{{book.discountPrice}}
            </div>
            <div class="originalprice">
                <del> Rs.{{book.price}} </del>
            </div>
        </div>

        <div class="cartandwishlistbutton" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-evenly center">

            <div *ngIf="!book.isAddedToCart">

                <button class="addtobag" (click)="addtocart(book)">
                    <img class="cartimg" src="../../../assets/shopping_cart_black_24dp.svg" alt="">
                </button>
            </div>

            <div *ngIf="book.isAddedToCart" fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button class="addedtobag">
                    ADDED TO BAG
                </button>
            </div>

            <div *ngIf="!book.isAddedToCart" fxLayout="row" fxLayoutAlign="start center">


                <button class="wishlist" (click)="addtowishlist(book)">
                    <mat-icon class="wishlistIcon">favorite</mat-icon>
                </button>
            </div>




        </div>

    </div>



</div>
<div class="pagination" fxLayoutAlign="center center">
    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>

<div style="background-color: #2E1D1E ;padding: 10px;margin-top:120px;">
    <p style="color: white;font-size: 12px;text-align: start;margin-left: 100px;margin-top: 3px;">Copyright © 2020,
        Bookstore Private Limited. All Rights Reserved</p>
</div>