<div  fxLayout="row" fxLayoutAlign="start start" >
<mat-toolbar class="mattoolbar"  >
    <mat-toolbar-row >
        <div class="imgandtext" (click)="bookstore()" fxLayout="row" fxLayout.xs="row" >
            <div >
                <img class="book" src="../../../assets/education (1).svg" alt="">
            </div>
            <div class="text"  fxLayout.sm="row" fxLayout.xs="row" >
                <h2>Bookstore</h2>
            </div>

        </div>

        <mat-card class="searchbar" fxLayout="row" fxLayout.xs="row">
            <img class="searchimg" src="../../../assets/search_black_24dp (1).svg" alt="">

            <input class="search1" type="text" name="search" placeholder="Search" #search
                (keyup)="searchBook(search.value)" fxHide.xs fxHide.sm>
            
        </mat-card>

        <div class="profile" [matMenuTriggerFor]="menu" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.xs="row" fxFlex.xs="130">
            <img class="profileimg" src="../../../assets/person_white_24dp.svg" alt="">
            <p>Profile</p>

            <mat-menu class="matmenu" #menu="matMenu">
                <div fxLayout="column" fxLayoutGap="3px">
                    <h3 class="welcometext">sandipan kanade</h3>
                   
                </div>

                <button (click)="Logout()" class="logoutbutton" mat-menu-item>
                    Log Out
                </button>
                <button class="wishlistbutton" (click)=" wishlist()" mat-menu-item fxLayoutGap="0px">
                    <mat-icon class="wishlistIcon">favorite</mat-icon>
                    Wishlist
                </button>

            </mat-menu>
        </div>

        <div class="cart" (click)="cart()" fxLayout="column" fxLayoutAlign="center center" fxLayout.xs="row"
            fxFlex.xs="50">

            <button style="background-color: darkred; border: none; cursor: pointer;" matBadge={{badgecount}}
                matBadgeSize="small" matBadgePosition="after" matBadgeColor="warn" [matBadgeHidden]="badgecount==0">
                <img class="cartimg" src="../../../assets/shopping_cart_white_24dp.svg" alt="">
            </button>
            <p style="margin-top:-10px;">Cart</p>

        </div>

    </mat-toolbar-row>
    
</mat-toolbar>
</div>

<div>
    <router-outlet></router-outlet>
</div>