<div class="section" fxLayout="column">
    <div class="placeorder">
        <img class="orderimg" src="../../../assets/placeOrder (1).png" alt="">

    </div>
    <div>
        <p>
            hurray!!! your order is confirmed<br> the order id is #123456 save the order id for<br> further
            communication..
        </p>
    </div>

    <div>
        <table style="width:70%; margin-left: 210px; ">
            <tr fxLayoutGap="0px">
                <th style="text-align:center">Email</th>
                <th style="text-align:center">Contact us</th>
                <th style="text-align:center">Address</th>
                
            </tr>

            <td style="text-align:center">admin@bookstore.com</td>
         

            <td style="text-align:center">+91 8163475881</td>
         

            <td style="text-align:center">42, 14th Main, 15th Cross, Sector4, opp to BDA<br>complex, near kumarakom
                restaurant, HSR Layout.</td>


        </table>
    </div>

    <div>
        <button mat-flat-button class="continuebutton" color="primary" type="button" (click)="continue()">Continue shopping</button>
    </div>
</div>






































<!-- <div style="margin-left: 25%;">


        <div fxLayout="row" style="border: 1px solid grey; background-color: whitesmoke; height: 5%; width: 70%; ">
            <div style="margin-right: 20%; margin-left: 15%;">
                <h3 style="border: 1px solid red; margin-top: 10px; margin-left: -12px;">Email</h3>
            </div>
            <div>
                <h3 style="margin-top: 10px;">Contact us</h3>
            </div>
            <div>
                <h3 style="margin-left: 450%;">Address</h3>
            </div>
        </div>
        <table style="border: 1px solid grey; width: 70%;">
            <tr>
                <th style="color: #333232;opacity: 0.71; padding-bottom: 5%;position: relative; top: 16px;"> admin@bookstore.com</th>
                <th style="color: #333232;opacity: 0.71;">7066167445</th>
                <th style="color: #333232; opacity: 0.71;">Civil Lines Chandrapur Maharashtra</th>
            </tr>
        </table>
    </div> -->