.section{
    margin-bottom: 2%;
    // border: 1px solid red;
    // width: 50%;
    // margin-left: 25%;
    // margin-top: 10%;
    // margin-right: 40%;
    width: 750px ;
    height: 330px;

}
.cartbook{
    // border: 1px solid green;
    width: 160%;
    margin-left: -46%;
    

}

.bookImage{
    // border: 1px solid yellow;
    height: 95px;
    width: 80px;
    // margin-top: 20%;   
    // left: 213px;
    // width: 65px;
    // height: 85px;

}
.entirebook{
    // border: 1px solid black;
    margin-top: -2%;
    margin-left: 10%;
   

}
.bookname{
    margin-left: 15px;
    font-family: Roboto;
    font-weight: 500; 
    margin-top: 8px;
    font-size: 18px;
    margin-bottom: 5px;

}
.author{
    font-size: 12px; 
    color: grey; 
    margin-left: 15px;
    margin-bottom: 5px;

}
.price{
    font-size: 15px;
    margin-left: 15px;
    margin-bottom: 10%;

}
.discountprice{
    font-weight: 620;

}
.originalprice{
    color: grey;

}

.quantity{
    // border: 1px solid palevioletred;
    position: relative;
    left: 10px;

}
.negativebutton{
    background-color: white; 
    margin-right: 10px;
    width: 24px;
    height: 24px;
}
.negative{
    color: lightgrey;
    position: relative;
    top: -10px;

}
.bookquantity{
    font-size: 15px;
    border: 1px solid whitesmoke;
    // height: 25px;
    // width: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    width: 40px;
    height: 23px;

}
.positivebutton{
    background-color: white; 
    margin-left: 10px;
    width: 24px;
    height: 24px;

}
.positive{
    color: black;
    position: relative;
    top: -10px;

}
.remove{
    margin-left: 15px;
    font-size: 15px;
    font-family: Lato;
    cursor: pointer;

}
.rightdiv{
    // border: 1px solid yellow;
    // margin-top: -50px;
    // margin-left: 100px;
    margin-right: 5%;
}
.location{
    border: 1px solid lightgrey;
     height: 30px;
     width: 200px;
     margin-top: 10px;
     position: relative;
     top: -60px;
     left: 110px;

}
.placeIcon{
    color: darkred;
}
.currentlocation{
    margin-top: 3px;
}
.button{
    width: 150px;
    // position: relative;
    // top: -60px;
    left: 127px;
}
.example-headers-align .mat-expansion-panel-header-title,
 .example-headers-align .mat-expansion-panel-header-description {
   flex-basis: 0;
 }
 
 .example-headers-align .mat-expansion-panel-header-description {
   justify-content: space-between;
   align-items: center;
   
 }
 
 .example-headers-align .mat-form-field + .mat-form-field {
   margin-left: 8px;
   
 }
 .mat-expansion-panel{
    //  border:1px solid blue;
    //  margin-top: 20px;
     width: 780px ;
     margin-left: 200px;
     position: relative;
     top: 120px;
 }
.customerdetails{

}
.details{
    // margin-right: 20px;
    margin-bottom: 20px;
    // border: 1px solid blue;
    margin-left: 30px;

}
.heading{
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -28px;

}
.names{
    font-size: 15px;
    font-weight: 500;

}
.type{
    margin-left: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
.home{
    margin-left: 30px;

}
.work{
    margin-left: 100px;

}
.other{
    margin-left: 100px;

}
.address{
    border: 1px solid darkred;
    color: darkred;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 180px;
    position: relative;
    left: 100px;
}
.continuebutton{
    width: 150px;
    margin-left: 15px;
    position: relative;
    top: 170px;
    left: 95px;
}
.addressandcontinue{
    // border: 1px solid green;
    position: relative;
 // top: -455px;
    bottom: 420px;
    left: 310px;
}
.maindivofform{
    // border: 1px solid blue;
}
.mat-form-field{
    // border: 1px solid red
}
.input{
    // border: 1px solid yellow
}

.checkoutbutton{
    background-origin: 1px solid green;
    width: 150px;
    position: relative;
    left: 130px;
    top: 200px;
    margin-left: 50px;
}